<?xml version="1.0" encoding="utf-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-amap-track" version="1.0.0">
  <name>AmapTrack</name>
  <js-module name="AmapTrack" src="www/AmapTrack.js">
    <clobbers target="cordova.plugins.AmapTrack"/>
  </js-module>
  <platform name="ios">
    <preference name="API_KEY_FOR_IOS"/>
    <config-file parent="/*" target="config.xml">
      <feature name="AmapTrack">
        <param name="ios-package" value="AmapTrack"/>
      </feature>
    </config-file>
    <source-file src="src/ios/AmapTrack.m"/>
    <source-file src="src/ios/AmapTrack.h"/>
    <source-file src="src/ios/ShowMapViewController.m"/>
    <source-file src="src/ios/ShowMapViewController.h"/>
    <config-file parent="UIBackgroundModes" target="*-Info.plist">
      <array>
        <string>location</string>
      </array>
    </config-file>
    <framework custom="true" src="src/ios/libs/AMapFoundationKit.framework"/>
    <framework custom="true" src="src/ios/libs/AMapTrackKit.framework"/>
    <framework custom="true" src="src/ios/libs/AMapLocationKit.framework"/>
    <framework custom="true" src="src/ios/libs/MAMapKit.framework"/>
    <framework src="JavaScriptCore.framework"/>
    <framework src="SystemConfiguration.framework"/>
    <framework src="CoreTelephony.framework"/>
    <framework src="CoreLocation.framework"/>
    <framework src="GLKit.framework"/>
    <framework src="libz.tbd"/>
    <framework src="libc++.tbd"/>
    <framework src="Security.framework"/>
    <framework src="libsqlite3.tbd"/>
    <config-file parent="NSLocationAlwaysAndWhenInUseUsageDescription" target="*-Info.plist">
      <string>需要您的定位服务，否则可能无法使用，如果您需要使用后台定位功能请选择“始终允许”。</string>
    </config-file>
    <config-file parent="NSLocationWhenInUseUsageDescription" target="*-Info.plist">
      <string>需要您的定位服务</string>
    </config-file>
    <config-file parent="NSLocationAlwaysUsageDescription" target="*-Info.plist">
      <string>需要您的定位服务，否则可能无法使用，如果您需要使用后台定位功能请选择“始终允许”。</string>
    </config-file>
    <config-file parent="AMapApiKey" target="*-Info.plist">
      <string>$API_KEY_FOR_IOS</string>
    </config-file>
  </platform>
  <platform name="android">
  <preference name="API_KEY_FOR_ANDROID" />
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="AmapTrack">
        <param name="android-package" value="com.maycur.plugin.AmapTrack"/>
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"/>
    <source-file src="src/android/AmapTrack.java" target-dir="src/com/maycur/plugin"/>
    <source-file src="src/android/AmapTrackSingle.java" target-dir="src/com/maycur/plugin" />

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!--在AndroidManifest.xml的application标签中配置Key：-->
            <meta-data android:name="com.amap.api.v2.apikey" android:value="$API_KEY_FOR_ANDROID">
            </meta-data>
            <!--在application标签中声明service组件：-->
            <service android:name="com.amap.api.location.APSService"></service>
     </config-file>

    <config-file parent="/*" target="AndroidManifest.xml">
            <!--用于进行网络定位-->
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
            <!--用于访问GPS定位-->
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
            <!--获取运营商信息，用于支持提供运营商信息相关的接口-->
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
            <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
            <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
            <!--用于访问网络，网络定位需要上网-->
            <uses-permission android:name="android.permission.INTERNET"></uses-permission>
            <!--用于读取手机当前的状态-->
            <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
            <!--写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据-->
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
            <!--用于申请调用A-GPS模块-->
            <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
            <!--用于申请获取蓝牙信息进行室内定位-->
            <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
        </config-file>
  </platform>
</plugin>
